
.container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 15rem auto ;
  grid-template-areas:
    'navbar_Grid  Grid_content '
    'navbar_Grid  Grid_content '
    'navbar_Grid  Grid_content '
}

@media screen and (max-width: 960px) {}
