.navbar_Grid {
  grid-area: navbar_Grid;

}

.navbar {
  position: relative;
  background-color: #465769;
  height: 100vh;
  margin: 0;

}


.nav-links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 2rem 1rem;
  height: 100%;
  font-weight: bold;
  font-family: ;
}

.nav-links:hover {
  border-bottom: 4px solid #111
}



@media screen and (max-width: 960px) {}