/*giver nav des egent grid area i grid layout delen på app.js*/
.navbar_Grid {
  grid-area: navbar_Grid;

}

/* styling af boxen for navbaren*/
.navbar {
  position: relative;
  background-color: #465769;
  height: 100vh;
  margin: 0;
  border-radius: 0px 20px 20px 0px;
}

/* styling af linksne på siden*/
.nav-links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 2rem 1rem;
  height: 100%;
  text-align: center;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 25px;
}

/* lave en hover effekt på nav elementerne*/
.nav-links:hover {
  color: grey;
}

/* gemmer burgeren på dekstop versionen*/
.menu-icon {
  display: none;
}

/* mobil version*/
@media screen and (max-width: 600px) {



 .NavbarItems {
    position: relative;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    /*transform: translate(-100%, 60%);*/ /* is fucekd now...en af de andre css'er rammer og kan see se hvad.. nu kan jeg ikke ændre i det så den er normal..  */
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 3;
  }

.nav-menu {
  color: #ccc;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding-top: 3rem;
  opacity: 1;
  transition: all 0.5s ease;
  background-color:  #465769;
  z-index: 2
}

/* nå i mobil skyder vi nav baren til venstre så den ikke gå ind o genere brugeren*/
.navbar{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -100%;
  transition: all 0.5s ease;
}
/* nå vi trykker på bruger menuen bliver denne aktiveret */
.navbar-active{
  display: flex;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease;
}
/*sætter nav items over på de andr elemener*/
.nav-item {
  z-index: 1;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 1;
  transition: all 0.5s ease;
}

/*sætter menubaren ind nå brugern er trykket på, dog problem med transistion lige nu og dette ikke virker..*/
.nav-menu.active {
  background: #465769;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}

/* styling af linksne nå man hover*/
.nav-links:hover {
  background-color: #fff;
  color: #242424;
  border-radius: 0;
}


/* styling for nav linksne på mobil version*/
.nav-links-mobile {
  display: block;
  text-align: center;
  margin: 2rem auto;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}


/* giver mobil navn en hover effect*/
.nav-links-mobile:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
}


}
