.navbar_Grid {
  grid-area: navbar_Grid;

}

.navbar {
  position: relative;
  background-color: #465769;
  height: 100vh;
  margin: 0;

}


.nav-links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 2rem 1rem;
  height: 100%;
  text-align: center;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 25px;
}

.nav-links:hover {
  color: grey;
}

.nav-menu {
/*  margin-top: 4rem; */
}

.navbar {
  border-radius: 0px 20px 20px 0px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {


  .NavbarItems {
    position: relative;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 3;
  }

.nav-menu {
  color: #ccc;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding-top: 3rem;
  opacity: 1;
  transition: all 0.5s ease;
  background-color:  #465769;
  z-index: 2
}

.navbar{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -100%;
  transition: all 0.5s ease;
}

.navbar-active{
  display: flex;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease;
}

.nav-item {
  z-index: 1;
}

}
