.navbar_Grid {
  grid-area: navbar_Grid;

}

.navbar {
  position: relative;
  background-color: #465769;
  height: 100vh;
  margin: 0;

}


.nav-links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 2rem 1rem;
  height: 100%;
  text-align: center;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 25px;
}

.nav-links:hover {
  color: grey;
}

.nav-menu {
/*  margin-top: 4rem; */
}

.navbar {
  border-radius: 0px 20px 20px 0px;
}


.menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {

 .NavbarItems {
    position: relative;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    /*transform: translate(-100%, 60%);*/ /* is fucekd now...en af de andre css'er rammer og kan see se hvad.. nu kan jeg ikke ændre i det så den er normal..  */ 
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 3;
  }

.nav-menu {
  color: #ccc;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding-top: 3rem;
  opacity: 1;
  transition: all 0.5s ease;
  background-color:  #465769;
  z-index: 2
}

.navbar{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -100%;
  transition: all 0.5s ease;
}

.navbar-active{
  display: flex;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease;
}

.nav-item {
  z-index: 1;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;

  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu.active {
  background: #465769;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}

.nav-links:hover {
  background-color: #fff;
  color: #242424;
  border-radius: 0;
}

.nav-links-mobile {
  display: block;
  text-align: center;
  margin: 2rem auto;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-links-mobile:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
}


}
