
/* generalt layout grid.*/
.dashboard_Grid { grid-area: Grid_content;
  display: grid;
  grid-template-columns: auto ;
  padding: 2rem;
  grid-gap: 2rem;
  grid-template-areas:
  'Dash_Ny Dash_Favi'
  'Dash_Kal Dash_Favi'
}

/* nyheder container styling og angivelse af area i griddet. */
.Dashbord_Nyheder{
  background-color: #465769;
  border-radius: 20px;
  grid-area: Dash_Ny;
  display: flex;
  padding: 3rem;
  height: auto;
}

/* vi har problemer med billet da det scaler med des container på en dårlig måde, vi skal have angivet specif breade*/
.Dashboard_Nyhed_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: fill;
}

/* image styling*/
.Dashbord_Nyhed_Img {
 border-radius: 100%;
 justify-content: center;
 width: 100%;
}

/* texten for nyheaderne*/
.Dashbord_Nyhed_Info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

/*title på nyhederne farve*/
.Dashbord_Nyhed_Title {
 color: rgb(250,105,128)
}

/*text farve for nyeheader*/
.Dashbord_Nyhed_Text {
  color: white;
}

/* kalender angivelse af placering og general styling*/
.Dashbord_kalender{
  padding: 3rem;
  background-color: #465769;
  border-radius: 20px;
  grid-area: Dash_Kal;
}


.Favo_Layout {
  background-color: #465769;
  border-radius: 20px;
  grid-area: Dash_Favi;

}

.Favo_container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.Favo_Favs {
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: left;
  float: center;
}

.Favo_Res {

  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: left;
  float: center;
}

.Favo_Favs_Container {
  height: 40vh;
  padding-top: 1rem;
}

.Favo_Res_Container{
  height: 40vh;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 3px solid white;
}

.dashFavImg {
  height: 4rem;
  width: auto;
}

.Link_Styling{
  margin: 2rem;
  background-color: white;
  border-radius: 20px; }


/* mobil layuout*/
@media screen and (max-width: 600px) {

  .dashboard_Grid { grid-area: Grid_content;

    display: grid;
    grid-template-columns: 425px ;
    padding: 0;
    grid-gap: 2rem;
    grid-template-areas:
    'Dash_Ny '
    'Dash_Kal '
    'Dash_Favi'
  }

/* gøre så kalender gå helt ud til kanten*/
  .Dashbord_kalender{
    padding: 0;

  }


}
