
.dashboard_Grid { grid-area: Grid_content;

  display: grid;
  grid-template-columns: auto ;
  padding: 2rem;
  grid-gap: 2rem;



  grid-template-areas:
  'Dash_Ny'
  'Dash_Kal'


}


.Dashbord_Nyheder{
  background-color: #465769;
  border-radius: 20px;
  grid-area: Dash_Ny;

  display: flex;
  padding: 3rem;
  height: auto;

}


.Dashboard_Nyhed_img_container {

  display: block;
  flex-direction: column;
  justify-content: center;
  object-fit: fill;

}

.Dashbord_Nyhed_Img {
 border-radius: 100%;
 justify-content: center;
 width: 100%;

}


.Dashbord_Nyhed_Info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;

}

.Dashbord_Nyhed_Title {
 color: rgb(250,105,128)
}


.Dashbord_Nyhed_Text {
  color: white;
}

.Dashbord_kalender{
  padding: 3rem;
  background-color: #465769;
  border-radius: 20px;

  grid-area: Dash_Kal;
}





@media screen and (max-width: 960px) {

  .dashboard_Grid { grid-area: Grid_content;

    display: grid;
    grid-template-columns: auto auto ;
    padding: 2rem;
    grid-gap: 2rem;
    grid-template-areas:
    'Dash_Ny '
    'Dash_Kal '

  }
}
