.previous {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 20px 0px 0px 30px;
}

a:hover {
  background-color: #f2f2f2;
  color: black;
}

.previous {
  color: black;
}

.round {
  border-radius: 20px;
}

/* angiving af af area til grid conetnt..*/
.fjernvarme1_Grid {
  grid-area: Grid_content;
}

/*desktop version*/
.Fjernvarme1_scroll {
  height: 80%;
  max-width: 80%;
  margin: 20px auto;
  background-color: #465769;
  border-radius: 20px;
  padding: 2em;
  border: none;
  text-align: center;
}
.white {
  color: white !important;
}
.box {
  background-color: white;
}

.box {
  box-sizing: border-box;
  border-radius: 20px;
  margin: 50px 60px 20px 60px;
  padding: 40px 20px 40px 20px;
}

.bold {
  font-weight: bold;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: left;
  padding-right: 30px;
}
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  border-left: 3px solid #787878;
  text-align: left;
  padding-left: 70px;
}

/* Clear floats after the columns */
.box:after {
  content: "";
  display: table;
  clear: both;
}
.knap-stil {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
}

/* mobil version af siden*/
@media screen and (max-width: 600px) {
  .previous {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .Fjernvarme1_scroll {
    height: 100%;
    max-width: 100%;
    margin: 30px 0px;
    padding: 5px;
    padding-top: 10px;
    margin-bottom: 0px;
  }
  .box {
    margin: 10px;
    padding: 10px 10px 10px 5px;
    margin-top: 30px;
  }
  .column1 {
    padding: 10px 5px 10px 10px;
  }
}
