.FLDSkolen_Grid {
    grid-area: Grid_content;
    grid-gap: 50px;
    margin: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
        'kursus tilmelding'
}

.fld-skolen-kursus {
    grid-area: kursus;
}

.fld-skolen-tilmelding {
    grid-area: tilmelding;
    padding: 2rem;
    color: white;
    background-color: #465769;
    border-radius: 20px;
    text-align: center;
}

#kursus {
    padding: 2rem;
    color: white;
    background-color: #465769;
    border-radius: 20px;

}

button {
    background-color: white;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    border: none;
}

ul {
    list-style-type: none;
}

h3 {
    text-decoration: underline;
}

/*tilmeldings input felterne*/
.tilmeld input[type=text] {
    float: center;
    padding: 6px 20px 6px 20px;
    margin: 10px;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    width: 90%;
}

.tilmeld input[type=number] {
    float: center;
    padding: 6px 20px 6px 20px;
    margin: 10px;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    width: 90%;
}

.tilmeld select {
    float: center;
    padding: 6px 20px 6px 20px;
    margin: 10px;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    width: 90%;
}

/*send knappen*/
input[type=submit] {
    border-radius: 20px;
    padding: 12px 20px;
    background-color: white;
    cursor: pointer;
    border: none;
}

input[type=submit]:hover {
    background-color: #707070;
    color: white;
}

/*scrollbarer*/
.scroll {
    border: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: left;
    float: center;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #707070;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    * {
        max-width: 100% !important;
        margin-left: 0px !important;
        width: 100% !important;
    }

    .FLDSkolen_Grid {
        grid-gap: 20px;
        grid-template-columns: 1fr !important;
        grid-template-areas:
            'kursus'
            'tilmelding'
    }

}