
/* Infosheet for dagens begivenhder */
.Cal_info{
  grid-area: Cal_if;
  }

  /* General kalender*/
.Cal_picker{grid-area: Cal_P;
  display: flex;

  padding-bottom: 2rem;
  padding-left: 2rem  ;
}

  /* infosheet for farve indikation */
.Cal_favInfo{
  grid-area: Cal_fi;
  border-color: #465769;
  }

/* kalender grid area for desktop versioen. anlægere indtilvidre at columerne skal
   automatisk jusere deres bræde*/
.kalender_Grid { grid-area: Grid_content;
  display: grid;
  grid-template-columns: auto auto   ;
  grid-template-areas:
  'Cal_P Cal_fi'
  'Cal_P Cal_fi'
  'Cal_P Cal_fi'
  'Cal_if Cal_if'
  'Cal_if Cal_if'
  }


/* Cal info under groupper */
.farveKoder {
  display: flex;
  padding: 1rem 0 3rem 0 ;
  justify-content: center;
  background-color: #465769;
  color: #fff;
  border-radius: 20px 20px 0px 0px;

}

/* fjerner dotsne fra list elementerne da vi ikke skal bruge dem. */
.infoSection {
  list-style-type: none;
}

/* angiver farverne på billeder og giver dem noget afstand til højer så text og billede ikke er oppe af hinanen*/
.icon-Blå { color: blue; padding-right: 1rem;}
.icon-yellow { color: Yellow; padding-right: 1rem;}
.icon-lilla { color:BlueViolet ; padding-right: 1rem;}
.icon-red { color: red; padding-right: 1rem;}


/* styling af boxen for farve indikation*/
.farveIndikationer{
  border-radius: 30px;
  border-color: #465769;
  border-style: solid;
  z-index: 110px;
  background-color: #fff;
  transform: translate(0px, -40px);
}
.farveIndikationer li{
  /*border-radius: 30px;
  border-color: #465769;
  border-style: solid;*/
  list-style-type: none;
  padding-left: 2rem;
}

/*************************/


/* testing*/
/* prøver at ramme kalendernes for at edite dem..*/
.Weekdays_names {
  display: flex;
}

.Weekdays_names p {
  padding: 30px;
}
/*    ----------------    */


/* kalendernens main kontainer*/
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  line-height: 1.125em;
  border-radius: 20px;
}

/* alle elemenerne i kalendernen er kanpper her ved radigere vi dem her */
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}


/* navigations månede  */
.react-calendar__navigation__label {
  font-size: 2rem;
}

.react-calendar__navigation__arrow {
  font-size: 2rem
}



/* diværse react calender css.. */

.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
  font-size: 2rem;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
/* sidebar week numbers */
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.45rem;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  color: #8a8a8a;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

/* næste uges dage - gøre grå */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

/* numbers of the week  */
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #707070;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #465769;
}



/* mobil layout*/

@media screen and (max-width: 600px) {

.Cal_info { display: none;}


.Cal_favInfo{
  margin: 3rem;
}

.kalender_Grid { grid-area: Grid_content;
  display: grid;

  grid-template-columns: auto  ;
  grid-template-areas:
  'Cal_P'
  'Cal_fi'


  }
}
