.Samtaler_kontakter {
  grid-area: kontakter;

}

.Samtaler_Chat {
  grid-area: Chat;
  padding: 2rem;
  color: white;
  background-color: #465769;
  border-radius: 20px;
  text-align: center;
}

.samtaler_Grid {
  grid-area: Grid_content;
  grid-gap: 50px;
  margin: 30px 50px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas:
    'kontakter Chat'
}


#kontacter {
  padding: 2rem;
  color: white;
  background-color: #465769;
  border-radius: 20px;

}

ul {
  list-style-type: none;
}

h3 {
  text-decoration: underline;
}

.search input[type=text] {
  float: center;
  padding: 6px 20px 6px 20px;
  margin: 10px;
  border: none;
  font-size: 17px;
  border-radius: 20px;
  width: 90%;
}